<div class="row resrow">
    <div class="col-2 datecol">
        {{date}}
        <br>
        {{month}}
    </div>
    <div class="col-3">
        {{sittername}}
    </div>
    <div class="col-3">
        {{service}}
    </div>
    <div class="col-3">
        <button class="btn btn-info" data-id="{{id}}">Make Changes</button>
    </div>
</div>