<div class="card">
    <img class="card-img-top" src={{photo_url}} alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{username}}</h5>
        <p class="card-text">Location: {{location}} </p>
        <p class="card-text">{{rating}}</p>
        <button class="btn btn-pink-flat book-btn" data-id="{{id}}">Book me!</button>
    </div>
</div>